* {
    font-family:Arial, Helvetica, sans-serif
 }

    body {background-color: #ccc;
}

    h1 {font-family: Helvetica, Arial, sans-serif;
        color: red;
    }
p {
    background-color: white;
    padding: 10px;
}
main
{
    background-image: url("./gradient_bg.png");
    background-repeat: repeat-x;
} 
h1 {
    font-family: "Times New Roman", Helvetica, Arial, sans-serif;
    color: orange;
    padding: 50px;
}